.button {color: red;}
body {
    height: auto;
    background-color: rgb(165, 165, 165);
    overflow:visible;
}


#scroll-container{
    border-top-style: solid;
    overflow: visible;
    overflow-y: auto;
    scrollbar-width: auto;
    overflow-x:visible;
    display: flex;

    height:75dvh;
}

#container {
    height: 100vh;
    scale: 1;
}
.top {
    display: flex;
}

.topgoru{
    display: flex;
    width: 20%;
    position: relative;
}
.llll{
    padding-left: 10px;
    margin-left:  10px;
    display: flex;
    top:0px;
    position: relative;
    width: 100%;
    div.NeueTasksGehege{
        border-style: dashed;
        border-radius: 10px;
        width:inherit;
        tbody{
            border-radius: 25px;
        }
        overflow: hidden;
    }
}

.retzhuj {
    position: relative;
    left: 0px;
    border-bottom-style:solid;
}